/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */
/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */

html {
    display: flex;
    justify-content: center;
}

body {
    max-width: 850px;
}

header, .collage {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

header {
    top: 0;
    position: sticky;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: orange;
}

img {
    margin: 5px;
}